# Ignorar directorios y archivos de entornos virtuales
.venv/
new_env/

# Archivos de Python
*.pyc
__pycache__/

# Archivos específicos de macOS
.DS_Store

# Archivos generados por IDEs como VS Code
.vscode/
new_env/
*.pyc
*.pyo
*.pyd
__pycache__/
.env
.venv/
.DS_Store
node_modules/
